

<div class="container mt-5">
    
    <h1>Welcome</h1>

    @* action buttons *@
    <div class="mt-1">
        <a href="@Url.Action("Login", "Account")" class="btn btn-success">Login</a>
        <span class="mx-2">
            <a href="@Url.Action("Registration", "Account")" class="btn btn-warning"> Register</a>.
        </span>
    </div>



</div>


@section Scripts
{
}
